*{
    margin: 0px;
    padding: 0px;
    
}

.applayout{
    height: 100vh;
    width: 100vw;

}

.header{
    display: flex;
    justify-content: space-between;
    align-items: ;
}
.header img{
    top: 0px;
    left: 0px;
}

.header ul{
    display: flex;
    list-style-type: none;
}

.resturant{
    height: 100%;
    width: 100%;
    display: flex;
  
    margin: 20px;
    padding: 20px;
}